@-webkit-keyframes scaleAnimation {
  0% {
    -webkit-transform: scale(1.1) rotate(0.02deg);
    transform: scale(1.1) rotate(0.02deg); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes scaleAnimation {
  0% {
    -webkit-transform: scale(1.1) rotate(0.02deg);
    transform: scale(1.1) rotate(0.02deg); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

.full-width .slick-current .full-width__item {
  -webkit-animation: scaleAnimation 8s ease;
          animation: scaleAnimation 8s ease; }

.full-width .slick-slide {
  height: -webkit-calc(100vh - 174px);
  height: calc(100vh - 174px); }

.full-width .slick-dots {
  position: absolute;
  bottom: 25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: auto; }
  .full-width .slick-dots li {
    margin: 0 5px; }
    .full-width .slick-dots li button {
      background-color: #fff;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      border: 1px solid #d6e3e8;
      color: #d6e3e8;
      cursor: pointer;
      font-size: 0;
      display: block;
      width: 15px;
      height: 15px; }
      .full-width .slick-dots li button:before {
        display: none; }
      .full-width .slick-dots li button:focus {
        outline: none; }
    .full-width .slick-dots li.slick-active button {
      background-color: #d9005b;
      border: 1px solid #d6e3e8;
      color: #d9005b; }

.full-width__item {
  position: relative;
  height: -webkit-calc(100vh - 174px);
  height: calc(100vh - 174px); }
  .full-width__item:nth-child(1) {
    background: url("../img/slide1.jpg") no-repeat 0 -120px;
    -webkit-background-size: cover;
            background-size: cover; }

.full-width__description {
  position: absolute;
  left: 233px;
  top: 125px; }

.full-width__text {
  font-family: "Montserrat", sans-serif;
  font-size: 18px; }
  .full-width__text-default {
    color: #fff;
    font-size: 18px;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 23px;
    max-width: 70%;
    margin-top: 2rem; }
  .full-width__text-yellow {
    color: #ffcc00;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    margin-bottom: 15px; }

.full-width__title-big {
  color: #ffffff;
  font-size: 52px;
  font-weight: 500;
  letter-spacing: -0.99px;
  margin-bottom: 69px; }

.full-width__link {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.07px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 250px;
  height: 56px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background-color: #d9005b;
  margin-top: 3rem; }
  .full-width__link:hover {
    color: #fff;
    text-decoration: none; }
